@import '~carbon-components/scss/globals/scss/layout';

.page-header {

  height: 7rem;
  
  background-color: white;
  color: $carbon--gray-90;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}


.with-tabs {
  height: calc(var(--height) - 3rem);
}

.text {
  @include carbon--type-style('display-01', true);
}
